	<!-- Footer -->
  	<footer class="row">
  		<div class="twelve columns">
  			<hr style="margin:2.5em 0px;" />
		  	<div class="row">
	      		<div class="four columns" itemscope itemtype="http://schema.org/LocalBusiness">
				    <h6>Get in Touch</h6>
					<p><span itemprop="telephone"><a href="tel:+14074566830">(407) 456-6830</a></span><br />
				   <script>mail("info","yellowdogagency",0,"")</script>
					</p>
					<!--<p class="show-for-small"><a class="button twelve" href="http://maps.apple.com/maps?daddr=11928+Sheldon+Rd+Suite+105+Tampa+FL+33626">Apple Maps Directions</a></p>
					<p class="show-for-small"><a class="button twelve" href="http://maps.google.com/maps?daddr=11928+Sheldon+Rd+Suite+105+Tampa+FL+33626">Google Maps Directions</a></p>-->
					<div class="show-for-small">
		  				<p>&nbsp;</p>
		  			</div>
				</div>
				<div class="four columns">
					<h6>Connect With Us</h6>
					<a title="Facebook" href="http://facebook.com/yellowdogagency"><i class="foundicon-facebook"></i></a>
					<a title="Twitter" href="http://twitter.com/yellowdogagency"><i class="foundicon-twitter"></i></a>
					<a title="Google Plus" href="http://plus.google.com/+Yellowdogagency"><i class="foundicon-google-plus"></i></a>	
					<a title="LinkedIn" href="http://www.linkedin.com/company/yellowdog-marketing-inc-"><i class="foundicon-linkedin"></i></a>
					<a title="Instagram" href="http://instagram.com/yellowdogagency"><i class="foundicon-instagram"></i></a>		
					<a title="Tumblr" href="http://journal.yellowdogagency.com/"><i class="foundicon-tumblr"></i></a>
					<a title="Flickr" href="http://flickr.com/yellowdogagency"><i class="foundicon-flickr"></i></a>	
					<div class="show-for-small">
		  				<p>&nbsp;</p>
		  			</div>
				</div>
				<div class="four columns">
					<h6>Subscribe</h6>
		
					<form data-abide action="http://email.yellowdogagency.com/t/r/s/tkuiitr/" method="post" id="subForm">

					      <div class="row">
					        <div class="small-10 columns input-wrapper">
					          <input id="fieldEmail" name="cm-tkuiitr-tkuiitr" type="email" required placeholder="Sign Up for our Newsletter">
						      <!--<small class="error" style="text-shadow:none;">An email address is required.</small>-->
					
					        </div>
							<div class="small-2 columns">
								<input type="submit" class="button postfix" value="I&rsquo;m In!"></button>
								
					        </div>
						  </div>

					</form>
					<div id="theDiv">
					</div>
					<div class="show-for-small">
		  				<p>&nbsp;</p>
		  			</div>
				</div>
				
			</div> 
      </div>
	</div> 
  	</footer>
  	</div><!--end main-wrap-->
  	<div id="footer-wrap">
  		<div class="row">
  			<div class="twelve columns" style="line-height:32px;"> 
  				<p style="display:inline-block;">
  					<span class="before">ESTD. 2008</span>
					<a class="yellowdog-icon" href="#top" title="Scroll to Top of Page">YellowDog</a>
					<span class="after">FL, U.S.A.</span>
				</p>	
			</div>
		</div>
		<div class="row" id="bottomfooter">
  			<div class="twelve columns show-for-small" style="text-align:center;">
  				<p>&copy; 2017 YellowDog Marketing Inc.&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{ site.baseurl }}/site_map" style="color:#ccc;">Site map</a></p>
  			</div>
			<div class="three columns hide-for-small" style="text-align:left;">
  				<p style="line-height:2em">&nbsp;<br />&copy; 2017 YellowDog</p>
  			</div>
			<div class="six columns hide-for-small" style="text-align:center;" itemscope itemtype="http://schema.org/PostalAddress">
  				<p style="line-height:2em">
					Website design and development by <span itemprop="name">YellowDog Marketing Inc.</span><br />
					<span itemprop="streetAddress">8815 Conroy Windermere Rd, Suite 226</span> | 
					<span itemprop="addressLocality">Orlando</span>, 
					<span itemprop="addressRegion">FL</span> 
					<span itemprop="postalCode">32835</span>
				</p>
  			</div>
			<div class="three columns hide-for-small" style="text-align:right;">
  				<p style="line-height:2em">&nbsp;<br /><a href="{{ site.baseurl }}/sitemap.html" style="color:#ccc;">Site map</a></p>
  			</div>
		</div>
	</div> 	
		
 	<!-- Included JS Files (Uncompressed) -->
  	<!--
	<script src="{{ site.baseurl }}/javascripts/jquery.js"></script>
	<script src="{{ site.baseurl }}/javascripts/jquery.foundation.mediaQueryToggle.js"></script>
  	<script src="{{ site.baseurl }}/javascripts/jquery.foundation.forms.js"></script>
  	<script src="{{ site.baseurl }}/javascripts/jquery.event.move.js"></script>
  	<script src="{{ site.baseurl }}/javascripts/jquery.event.swipe.js"></script>
  	<script src="{{ site.baseurl }}/javascripts/jquery.foundation.reveal.js"></script>
  	<script src="{{ site.baseurl }}/javascripts/jquery.foundation.orbit.js"></script>
  	<script src="{{ site.baseurl }}/javascripts/jquery.foundation.navigation.js"></script>
  	<script src="{{ site.baseurl }}/javascripts/jquery.foundation.buttons.js"></script>
  	<script src="{{ site.baseurl }}/javascripts/jquery.foundation.tabs.js"></script>
  	<script src="{{ site.baseurl }}/javascripts/jquery.foundation.tooltips.js"></script>
  	<script src="{{ site.baseurl }}/javascripts/jquery.foundation.accordion.js"></script>
  	<script src="{{ site.baseurl }}/javascripts/jquery.placeholder.js"></script>
  	<script src="{{ site.baseurl }}/javascripts/jquery.foundation.alerts.js"></script>
  	<script src="{{ site.baseurl }}/javascripts/jquery.foundation.topbar.js"></script>
  	<script src="{{ site.baseurl }}/javascripts/jquery.foundation.joyride.js"></script>
  	<script src="{{ site.baseurl }}/javascripts/jquery.foundation.clearing.js"></script>
  	<script src="{{ site.baseurl }}/javascripts/jquery.foundation.magellan.js"></script>
  	-->
	
  	<!-- Included JS Files (Compressed) -->
  	<script src="{{ site.baseurl }}/javascripts/jquery.js"></script>
  	<script src="{{ site.baseurl }}/javascripts/foundation.min.js"></script>
  	<script src="{{ site.baseurl }}/javascripts/foundation.abide.js"></script>
   	<script src="{{ site.baseurl }}/javascripts/jquery.smooth-scroll.min.js"></script>
 	<script src="{{ site.baseurl }}/javascripts/nav.js"></script>
	<script src="{{ site.baseurl }}/javascripts/retina.min.js"></script>

   	<!-- Initialize JS Plugins -->
  	<script src="{{ site.baseurl }}/javascripts/app.js"></script>
	<script type='text/javascript'>
   		$(window).load(function() {
       		$('#featuredContent').orbit({ 
       		fluid: '16x5',
       		timer: true,
       		advanceSpeed: 5000
   	  		});
   		});
	</script>
	<script type="text/javascript">
		$('a').smoothScroll();
	</script>
	<script type="text/javascript" src="//use.typekit.net/ztv3scy.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<style type="text/css">
	  .wf-loading h2,
	  .wf-loading h3,
	  .wf-loading h4,
	  .wf-loading h6,
	  .wf-loading p,
	  .wf-loading ul,
	  .wf-loading ol,
	  .wf-loading span,
	  .wf-loading a {
	    /* Hide the blog title and post titles while web fonts are loading */
	    opacity: 0;
	  }
	  
	  .wf-loading h2,
	  .wf-loading h3,
	  .wf-loading h4,
	  .wf-loading h6,
	  .wf-loading p,
	  .wf-loading ul,
	  .wf-loading ol,
	  .wf-loading span,
	  .wf-loading a {
	    /* Hide the blog title and post titles while web fonts are loading */
	    visibility: hidden;
	  }
	</style>
	<!--AJAX SUBSCRIBE FORM-->
	<script type="text/javascript">
	    $(function () {
	        $('#subForm').submit(function (e) {
	            e.preventDefault();
	            $.ajax({
	                url: this.action,
	                method: this.method,
	                dataType: "jsonp",
	                data: $(this).serialize(),
	                success: function(data) {
	                    $("#theDiv").empty().append(data.Message);
	                    
	                },
	                error: function(jqXHR, textStatus, errorThrown) {
	                    alert("Error: " + textStatus + ", " + errorThrown);
	                }
	            });
	        });
	    });
	</script>
	<!--END AJAX SUBSCRIBE FORM-->
	<!--BEGIN CLICKY ANALYTICS CODE-->
	<script type="text/javascript">
	var clicky_site_ids = clicky_site_ids || [];
	clicky_site_ids.push(101021127);
	(function() {
  	  var s = document.createElement('script');
  	  s.type = 'text/javascript';
 	  s.async = true;
  	  s.src = '//static.getclicky.com/js';
  	  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
	})();
	</script>
	<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101021127ns.gif" /></p></noscript>
	<!--END CLICKY ANALYTICS CODE-->
</body>
</html>