</head>
<body>
<!--GOOGLE TAG MANAGER-->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-536HWD"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-536HWD');</script>
        <!--END GOOGLE TAG MANAGER-->
	<!-- Header and Nav -->
  	<div class="headerbar" name="top">
	  	<div class="row">
		    <div class="four columns">
			    <h1>
				    <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo_yellowdog_onblue_480-shadow.png" alt="Orlando Marketing Agency | YellowDog Marketing &amp; Design" title="Orlando Marketing Agency | YellowDog Marketing &amp; Design" style="max-width:240px" /></a>
				</h1>
			</div>
		    <div class="eight columns nav-primary">
		    	<h3><!--<i class="foundicon-delicious"></i>-->=&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Navigation</h3>
		    	<ul class="nav-bar right">
		        	<li><a href="{{ site.baseurl }}/work.html" alt="View our graphic design portfolio and marketing case studies.">Work</a></li>
		          	<li><a href="{{ site.baseurl }}/about" alt="Learn more about our Orlando marketing agency.">About</a></li>
				  	<li><a href="http://journal.yellowdogagency.com/" alt="Our Tumblr photo blog.">Journal</a></li>
	              	<li><a href="{{ site.baseurl }}/contact" alt="Contact us to discuss your design project or marketing campaign.">Contact</a></li>
		      	</ul>
		    </div>
		</div>
	</div><!--end headerbar-->
	<!-- End Header and Nav -->
	<!--Begin main content-->
	<div class="main-wrap">