{% include head.html title="YellowDog | Orlando Graphic Design Firm | Marketing Agency" my_page_description="YellowDog is a craft design and marketing agency in Orlando, FL specializing in branding and graphic design for web and print." my_page_keywords="" %}
{% include header.html %}

 	<div id="featuredContent" class="hide-for-small">
		
		  <div>
		    <div class="contained">
		    	<div class="seven columns"><img src="{{ site.baseurl }}/images/made/1437c1f96cf1a33c/slide_laptop_wob_1202_800.png" alt="Building great brands one pixel at a time." title="Building great brands one pixel at a time." width="1202" height="800" /></div>
		    	<div class="five columns">
		    		<h2><br />Building great brands one pixel at a time.</h2>
		    		<a href="{{ site.baseurl }}/work/" class="button large">View Our Work</a>
		    	</div>
		    </div>
		  </div>
		
		  <div>
		    <div class="contained">
		    	<div class="seven columns"><img src="{{ site.baseurl }}/images/made/1437c1f96cf1a33c/slide_ipad_blend_1202_800.png" alt="Identity. Web. Print. That&#8217;s how we do it." title="Identity. Web. Print. That&#8217;s how we do it." width="1202" height="800" /></div>
		    	<div class="five columns">
		    		<h2><br />Identity. Web. Print. That&#8217;s how we do it.</h2>
		    		<a href="{{ site.baseurl }}/about/" class="button large">Learn More About Us</a>
		    	</div>
		    </div>
		  </div>
		
		  <div>
		    <div class="contained">
		    	<div class="seven columns"><img src="{{ site.baseurl }}/images/made/1437c1f96cf1a33c/slide_grow_1202_800.png" alt="We can help grow your business or franchise." title="We can help grow your business or franchise." width="1202" height="800" /></div>
		    	<div class="five columns">
		    		<h2><br />We can help grow your business or franchise.</h2>
		    		<a href="{{ site.baseurl }}/contact/" class="button large">Get In Touch Today</a>
		    	</div>
		    </div>
		  </div>
		
	</div>
	<!-- About Us -->
	<div class="row">
	    <div class="twelve columns" style="text-align:center">
	    	<!--<h3 style="margin:45px 0 0 0;">What is YellowDog? </h3>-->
	        <p style="color:#ccc;margin:0 0;padding:0;"> &nbsp;</p>
	        <p style="font-size:21px;margin-top: 20px;margin-bottom: 2.7em;">YellowDog is a craft marketing agency in Orlando, Florida. Our passion is focused on creating thoughtful design and marketing solutions for small businesses and franchises.</p>     
	        <!--<p style="color:#ccc;margin:0 0;padding:0;">&bull;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&bull;</p>-->
   	     	<hr />
		</div>
  	</div>
	<div style="height:35px;"></div>
	<div class="row" id="project-featured">
		<div class="three columns">
	    	<h4>Featured Work</h4>
      		<p>Fresh out of the YellowDog design studio.</p>
    	</div>
	    <div class="nine columns">
			<ul class="block-grid three-up mobile">
				
				{% assign sorted = (site.work | sort: 'date' | reverse) %}
				{% for work in sorted limit: 3 %}
				<li class="projectbox">
					<a href="{{ site.baseurl }}/{{ work.url }}">
						 <img class="imgshadow" src="{{ site.baseurl }}/images/made/1437c1f96cf1a33c/{{ work.thumb }}" width="450" height="338" alt="{{work.client}} - {{work.project}}" title="{{work.client}} - {{work.project}}" />
						<div class="caption"><h6>{{ work.project }}</h6><span class="tags">{{ work.client }}</span></div>
					</a>
				</li>
				{% endfor %}

				<!--<li class="projectbox">
					<a href="{{ site.baseurl }}/work/casino-beach-bar">
						<img class="imgshadow" src="{{ site.baseurl }}/images/made/1437c1f96cf1a33c/800x600_CasinoBeachBar_640_480.jpg" alt="Casino Beach Bar Identity Design" title="Casino Beach Bar Identity Design" width="640" height="480" />
						
						<div class="caption"><h6>Casino Beach Bar Identity Design</h6><span class="tags">CASINO BEACH BAR</span></div>
					</a>
				</li>
			   	
				<li class="projectbox">
					<a href="{{ site.baseurl }}/work/european-taxidermy">
						<img class="imgshadow" src="{{ site.baseurl }}/images/made/1437c1f96cf1a33c/800x600_MikeCarrTaxidermy_640_480.jpg" alt="European Taxidermy" title="European Taxidermy" width="640" height="480" />
						
						<div class="caption"><h6>European Taxidermy</h6><span class="tags">Mike Carr</span></div>
					</a>
				</li>
			   	
				<li class="projectbox">
					<a href="{{ site.baseurl }}/work/partridge-park-lodge">
						<img class="imgshadow" src="{{ site.baseurl }}/images/made/1437c1f96cf1a33c/800x600_PartridgePark_640_480.jpg" alt="Partridge Park Lodge" title="Partridge Park Lodge" width="640" height="480" />
						
						<div class="caption"><h6>Partridge Park Lodge</h6><span class="tags">Partridge Park Lodge</span></div>
					</a>
				</li>-->
			   	
			</ul>
	    </div>
	</div>
    <div style="height:5px;"></div>

{% include footer.html %}
